<div class="row d-grid gap-3">
	<h1>Mixes</h1>
	<div>
		<iframe
			width="100%"
			height="166"
			scrolling="no"
			frameborder="no"
			allow="autoplay"
			src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1258190986&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe>
		<div
			style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
		>
			<a
				href="https://soundcloud.com/djtommajor"
				title="Tom Major"
				target="_blank"
				style="color: #cccccc; text-decoration: none;">Tom Major</a
			>
			·
			<a
				href="https://soundcloud.com/djtommajor/tom-major-live-freehold-bk-apr"
				title="Tom Major Live @ Freehold BK Apr 15"
				target="_blank"
				style="color: #cccccc; text-decoration: none;">Tom Major Live @ Freehold BK Apr 15</a
			>
		</div>
	</div>
	<div>
		<iframe
			width="100%"
			height="166"
			scrolling="no"
			frameborder="no"
			allow="autoplay"
			src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1112616664&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
		></iframe>
		<div
			style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"
		>
			<a
				href="https://soundcloud.com/djtommajor"
				title="Tom Major"
				target="_blank"
				style="color: #cccccc; text-decoration: none;">Tom Major</a
			>
			·
			<a
				href="https://soundcloud.com/djtommajor/make-me-float-rb-mix"
				title="Make Me Float - R&amp;B Mix"
				target="_blank"
				style="color: #cccccc; text-decoration: none;">Make Me Float - R&amp;B Mix</a
			>
		</div>
	</div>
</div>