{% load static %}

<div class="row gap-3">
  <h1>Upcoming Shows</h1>

  <div class="row">
    <div class="col col-lg-3">
      <img class="w-100" src="{% static 'djtommajor/img/tommajor2.jpg' %}"/>
    </div>
    <div class="col col-lg-3">
      <h3>Kind Regards</h3>
      <strong>$FREE</strong> - No Cover<br/>
      Wed Sept 28 10p-3a<br/>
      <a href="https://goo.gl/maps/R84224r7WoRwh1uF9" target="_blank">152 Ludlow St, New York, NY</a><br/>
      <iframe
          class="w-100"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBWsPKN1y3_JwNo2n0ODNFy2oFSe37Mj_0&q=Kind+Regards+NYC"
      ></iframe>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-3">
      <img class="w-100" src="{% static 'djtommajor/img/tommajor_profile.jpg' %}"/>
    </div>
    <div class="col col-lg-3">
      <h3>No Bar - The Standard East Village</h3>
      <strong>$FREE</strong> - No Cover<br/>
      Thurs Sept 29 9p-1a<br/>
      <a href="https://goo.gl/maps/tyRbX4ZH3SiYcjTa6" target="_blank">25 Cooper Sq, New York</a><br/>
      <iframe
          class="w-100"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBWsPKN1y3_JwNo2n0ODNFy2oFSe37Mj_0&q=No+Bar+NYC"
      ></iframe>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-3">
      <img class="w-100" src="{% static 'djtommajor/img/tommajor4.png' %}"/>
    </div>
    <div class="col col-lg-3">
      <h3>Kind Regards</h3>
      <strong>$FREE</strong> - No Cover<br/>
      Fri Sept 30 10p-3a<br/>
      <a href="https://goo.gl/maps/R84224r7WoRwh1uF9" target="_blank">152 Ludlow St, New York, NY</a><br/>
      <iframe
          class="w-100"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBWsPKN1y3_JwNo2n0ODNFy2oFSe37Mj_0&q=Kind+Regards+NYC"
      ></iframe>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-3">
      <img class="w-100" src="{% static 'djtommajor/img/tommajor3.jpg' %}"/>
    </div>
    <div class="col col-lg-3">
      <h3>Ding-A-Ling</h3>
      <strong>$FREE</strong> - No Cover<br/>
      Sat Oct 1 9p-12a<br/>
      <a href="https://goo.gl/maps/mSZtp1WNaB2s3nzo7" target="_blank">116 Loisaida Ave, New York</a><br/>
      <iframe
          class="w-100"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBWsPKN1y3_JwNo2n0ODNFy2oFSe37Mj_0&q=Ding+a+Ling+NYC"
      ></iframe>
      <br/>
    </div>
  </div>
</div>
