{% load static %}

<div class="row gap-3">
  <h1>Upcoming Shows</h1>

  <div class="row">
    <div class="col col-lg-3">
      <img class="w-100" src="{% static 'djtommajor/img/tommajor2.jpg' %}"/>
    </div>
    <div class="col col-lg-3">
      <h3>Buntons World Famous</h3>
      <strong>$FREE</strong> - No Cover<br/>
      Fri Sept 9 11p-4a<br/>
      <a href="https://g.page/buntonsworldfamous" target="_blank">1005 Broadway, Brooklyn</a><br/>
      <iframe
          class="w-100"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBWsPKN1y3_JwNo2n0ODNFy2oFSe37Mj_0&q=Buntons+World+Famous+Brooklyn"
      ></iframe>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-3">
      <img class="w-100" src="{% static 'djtommajor/img/sunsetsocial.JPG' %}"/>
    </div>
    <div class="col col-lg-3">
      <h3>Sunset Social</h3>
      $10 at door<br/>
      Sat Sept 10 2p-10p<br/>
      <a href="https://g.page/ourwickedlady?share" target="_blank">Our Wicked Lady - 153 Morgan Ave, Brooklyn</a><br/>
      <iframe
          class="w-100"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBWsPKN1y3_JwNo2n0ODNFy2oFSe37Mj_0&q=Our+Wicked+Lady+Brooklyn"
      ></iframe>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-3">
      <img class="w-100" src="{% static 'djtommajor/img/virgolounge22.png' %}"/>
    </div>
    <div class="col col-lg-3">
      <h3>First Class: Virgo Lounge</h3>
      Free entry w/ RSVP - <a href="https://firstclassvirgolounge.splashthat.com">RSVP HERE</a><br/>
      Sat Sept 10 4p-10p<br/>
      <a href="https://goo.gl/maps/jQSiTKQaVYfGHezF9" target="_blank">The Woods - 48 S 4th St, Brooklyn</a><br/>
      <iframe
          class="w-100"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBWsPKN1y3_JwNo2n0ODNFy2oFSe37Mj_0&q=The+Woods+Brooklyn"
      ></iframe>
      <br/>
    </div>
  </div>
</div>
